<section class="image_container">
            <div><%= image_tag "family.jpg", class: "img" %></div>
    <div><%= image_tag "kids.jpg", class: "img" %></div>

    <div><%= image_tag "various.jpg", class: "img" %></div>
    <div><%= image_tag "wedding.jpg", class: "img" %></div>
    <div><%= image_tag "wedding_1.jpg", class: "img" %></div>
    <div><%= image_tag "wedding_2.jpg", class: "img" %></div>


    
    <div><%= image_tag "jeremiah-wilson-5.jpg", class: "img" %></div>


</section>



<section class="image_container">

    <div><%= image_tag "art_portret.jpg", class: "img" %></div>
    <div><%= image_tag "portret_daria.jpg", class: "img" %></div>
    <div><%= image_tag "portret_olha.jpg", class: "img" %></div>
    <div><%= image_tag "portret_dasha.jpg", class: "img" %></div>
    <div><%= image_tag "art_portret.jpg", class: "img" %></div>
    <div><%= image_tag "portret_daria.jpg", class: "img" %></div>
</section>


<section class="image_container">
    <div><%= image_tag "jeremiah-wilson-4.jpg", class: "img" %></div>
        <div><%= image_tag "jeremiah-wilson-4.jpg", class: "img" %></div>
    <div><%= image_tag "kids.jpg", class: "img" %></div>    
    <div><%= image_tag "wedding_1.jpg", class: "img" %></div>
    <div><%= image_tag "wedding_2.jpg", class: "img" %></div>
    <div><%= image_tag "jeremiah-wilson-4.jpg", class: "img" %></div>
</section>






